table.member_info {
  border-collapse: collapse;
  margin-bottom: 10px;
  /*width: 100%;*/
  table-layout: fixed;
  display: inline-table;
  margin-right: 20px;
}

.member_info td, .member_info th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
} 

.member_info hr {
  border: none;
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid var(--border);
}



.member_info1 tbody tr:nth-child(even) {
  background-color: #efefef;
  background-color: var(--background);
}

.member_info2 tbody tr:nth-child(odd) {
  background-color: #efefef;
  background-color: var(--background);
}

/* external links */
/* https://stackoverflow.com/questions/18168286/how-can-i-style-external-links-like-wikipedia */

a[href^="http://"], 
a[href^="https://"]{
    background-image: url("/img/wikipedia_external_link_icon.png");
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}


/* darker blue in tables for contrast */
.member_info a,
#member_bill_table a {
  color: #0057a0;
}

/* nav */
.primary-nav ul {
    align:left;
    text-align:left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.primary-nav li {
    list-style-type:none;
    display: inline;
    align:left;
    margin: 0;
    padding: 0;
}

.primary-nav li:first-child {
}


.member-search-li {
    float: right;
    width: 50%;
    align:right;
    text-align:right;
}
